body { 	background-color: #e2e1e0; 	margin: 0px; }
a { color: #fff; font-style: normal; }
.ds {
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
.ds:hover{
	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
.dsnh {
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

#titleblock {
	display: block;
	width: 66%;
	margin: auto;
}

#logo {
	color: white;
	background-color: #222222;

	text-align: center;
	margin: 0px;
	border-radius: 2px 2px 0px 0px;
	margin-top: 1%;
}

#lightgreybar {
	background-color: #aaa;
}

#container {
	text-align: center;
}

#footer {
	display: table;
	width: 100%;
	height: 75px;
	background-color: #222;
	text-align: center;
	color: white;
}

#icons {
	display: table-cell;
	vertical-align: middle;
	position: relative;
	width: 15%;
	top: 2px;
}

#textwrapper {
	display: table-cell;
	vertical-align: middle;
	width: 100%;
}

#twit {
	background-color: red;
}

#fb {
	background-color: green;
}

#tumb {
	background-color: blue;
}

.lowerbar {
	display: inline-block;
}

.soc {
	width: 50px;
	height: 50px;
	display: inline-block;
	margin-left: 10px;
}

.card {
	background-color: #fff;
	position: relative;
	display: inline-block;

	padding: .5%;
	margin: 1%;

	border-radius: 2px;
}
